
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div>
                <button type="button" class="btn btn-lg btn-block button">
                    项目简介
                    <span class="caret"></span>
                </button>
                <button type="button" class="btn btn-lg btn-block button_1" >
                    账号管理
                    <span class="caret"></span>
                </button>
                <ul class="list-group ul-list">
                    <li class="list-group-item list_1">用户账号管理</li>
                    <li class="list-group-item list_1">阿姨账号管理</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block button_2">
                    订单管理
                    <span class="caret"></span>
                </button>
                
                <button type="button" class="btn btn-lg btn-block button_3">
                    资金管理
                    <span class="caret"></span>
                </button>
               
            </div>
        </div>
        <div class="col-md-10">
            <div id="result"></div>
        </div>
    </div>
</div>
